<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/topheadlines']" routerLinkActive="router-link-active">Top headlines</a>
      <a mat-list-item [routerLink]="['/technology']" routerLinkActive="router-link-active">Technology</a>
      <div class="bottom_link">
        <small>powered by NewsAPI.org</small>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>News</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
    <app-articles-topheadlines></app-articles-topheadlines>
  </mat-sidenav-content>
</mat-sidenav-container>
