.card {
    width: 30%;
    margin-bottom: 2%;
  }
  
  .container {
    margin: 10px;
    width: 100%;
  }
  
  .img-article {
      width: 50%;
      margin-top: 5%;
      margin-left: 2%;
  }
  
  .mat-table {
      overflow: auto;
      max-height: 500px;
  }
  
  a {
      cursor: pointer;
  }